build/
.vscode/
.DS_Store
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
heightmap.json
*.o
*.out
*.exe
*.obj
*.log
*.idx
*.txt
*.jpg
src/assets/textures
TerrainGen.app/
imgui.ini